!.gitignore
.idea
*.iml
*.ipr
*.iws
env.bat
env.sh
old
myoldlibs
html5-boilerplate/intermediate
html5-boilerplate/publish
tests/classes
tests/reports
tests/local_db.bin
war/.settings
war/css
war/js
war/img
war/m4
war/test-docs
war/*.png
war/*.html
war/*.txt
war/crossdomain.xml
war/WEB-INF/appengine-generated
war/WEB-INF/appengine-web.xml
war/WEB-INF/classes
war/WEB-INF/web.xml
war/WEB-INF/lib/appengine*
war/WEB-INF/lib/datanucleus*
mockup/*.html
WEB-INF
