/* layout styles */
* { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif !important; }
html, body, #wrap { height: 100%; }
body { margin: 0; }
body > #wrap { height: auto; min-height: 100%; }
#main { padding-bottom: 35px; }
#newlistingmain { padding-bottom: 80px; }
#footer { position: relative; margin-top: -35px; height: 35px; clear: both; width: 100%; }
#newlistingfooterbottom { position: relative; margin-top: 1px; height: 35px; clear: both; width: 100%; }
#newlistingfootertop { position: relative; margin-top: -80px; height: 40px; clear: both; width: 100%; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.footertext, .footerlink { position: relative; font-weight: bold; font-size: 18px; top: 2px; color: #dcd8db; }
.copyrightspan { text-align: right; }
.copyrighttext { font-size: 10px; font-weight: bold; top: 10px; position: relative; }
.attention { color: #8A1F11; }
.errorcolor { color: #8A1F11; }
.inprogress { color: #8F8A11; }
.successful { color: #009900; }
.notice { position: relative; top: 15px; }
.emptyattention { color: #8A1F11; position: relative; top: 15px; }
.previewtext { z-index: 1000; position: absolute; background: rgba(0,0,0,0.6); top: 560px; left: 400px; font-size: 72px; color: white; font-weight: bold; padding: 20px; padding-left: 40px; padding-right: 40px; border-radius: 25px; }
.previewtext2 { top: 1280px; }
.previewtext3 { top: 2000px; }
.previewtext4 { top: 3100px; }

/* general styles */
/* body { font-size: 14px; font-weight: bold; color: #4083a9; background: #f2f2f2; } */
body { font-size: 14px; font-weight: normal; color: #4083a9; background: #f2f2f2; }
.curvedborder, .sidebox, .sideboxbutton, .sideboxbuttoninterior, .tile, .boxpanel, .boxstep, .boxselected, .inputbutton, .smallinputbutton, .sideboxselected, .banner {
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5); box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  zoom: 1;
}

/* link styles */
a:link, a:visited { text-decoration: none; color: #4083a9; }
a:hover { opacity: 0.7; cursor: pointer; }
.inputbutton:hover { opacity: 0.7; cursor: pointer }
.nohover:hover { opacity: 1.0; cursor: default; }

/* colors */
.crystalbluebg { background: #efffff; }
.brokenwhitebg { background: #f2f2f2; }
.silverbg { background: #e3e3e3; }
.lightgrey { color: #dcd8db; }
.lightblue { color: #32aff6; }
.pastelgrey { color: #999999; }
.darkblue { color: #4083a9; }
.darkgrey { color: #49515a; }
.darkgreybg { background: #49515a; }
.smokegrey { color: #333333; }
.white { color: #ffffff; }
.uneditabletext { color: #49515a; }

/* buttons */
.buttonbg, .sideboxbutton, .sideboxbuttoninterior {
background: #999999;
background: -moz-linear-gradient(top, #e2e2e2 0%, #d1d1d1 49%, #dbdbdb 50%, #999999 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(49%,#d1d1d1), color-stop(50%,#dbdbdb), color-stop(100%,#999999));
background: -webkit-linear-gradient(top, #e2e2e2 0%,#d1d1d1 49%,#dbdbdb 50%,#999999 100%);
background: -o-linear-gradient(top, #e2e2e2 0%,#d1d1d1 49%,#dbdbdb 50%,#999999 100%);
background: -ms-linear-gradient(top, #e2e2e2 0%,#d1d1d1 49%,#dbdbdb 50%,#999999 100%);
background: linear-gradient(top, #e2e2e2 0%,#d1d1d1 49%,#dbdbdb 50%,#999999 100%);
}
.smallbuttonbg, .inputbutton, .smallinputbutton {
background: #999999;
background: -moz-linear-gradient(top, #dcd8db 0%, #d1d1d1 49%, #dbdbdb 50%, #999999 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcd8db), color-stop(49%,#d1d1d1), color-stop(50%,#dbdbdb), color-stop(100%,#999999));
background: -webkit-linear-gradient(top, #dcd8db 0%,#d1d1d1 49%,#dbdbdb 50%,#999999 100%);
background: -o-linear-gradient(top, #dcd8db 0%,#d1d1d1 49%,#dbdbdb 50%,#999999 100%);
background: -ms-linear-gradient(top, #dcd8db 0%,#d1d1d1 49%,#dbdbdb 50%,#999999 100%);
background: linear-gradient(top, #dcd8db 0%,#d1d1d1 49%,#dbdbdb 50%,#999999 100%);
}

/* header styles */
.header { width: 100%; height: 55px; background: #49515a; }
.headertext, .headerlink { position: relative; font-weight: bold; font-size: 18px; top: 14px; color: #dcd8db; }
.logotextblue { position: relative; font-weight: bold; font-size: 24px; top: 8px; color: #32aff6; }
.logotextgrey { position: relative; font-weight: bold; font-size: 24px; top: 8px; color: #dcd8db; }
.headerprofile { float: right; text-align: right; }
.loginspan { text-align: right; }
.headericon { position: relative; top: 16px; width: 26px; margin-right: 10px; float: right; }
.logout { positon:relative; margin-top:6px; display: none; }

/* banner styles */
.banner { width: 980px; height: 80px; margin-top: 10px; }
.bannertext { font-size: 30px; font-weight: bold; top: 15px; position: relative; left: 15px; }
.bannersmall { width: 980px; height: 50px; margin-top: 10px; }
.bannertextsmall { font-size: 30px; font-weight: bold; color: #333333; }
.follow { top: 33px; position: relative; }
.followpromo { top: 20px; position: relative; }
.followimg { top: 20px; position: relative; }
.followtext { font-weight: bold; }
.followtextit { font-style: italic; }
.pull-15px { left: -15px; position: relative; }
.push-15px { left: 15px; position: relative; }
.welcometext { font-size: 14px; font-weight: bold; }
/* .welcometext a { font-weight: bold; } */

/* icons */
.spritebg { width: 32px; height: 32px; background: url(../img/icons/spritebg.gif); }
.facebook { background-position: 0px 0px; }
.twitter { width: 32px; height: 32px; background: url(../img/icons/twitter.png); }
.googleplus { width: 32px; height: 32px; background: url(../img/icons/google_plus.png); background-position: 1px 1px; }
.google { width: 32px; height: 32px; background: url(../img/icons/google_32.png); }
.searchimg { width: 29px; height: 24px; background: url(../img/icons/search.gif); }
.thumbup { width: 20px; height: 20px; background: url(../img/icons/thumbs_up.png); }
.bidaccepticon { width: 20px; height: 20px; background: url(../img/icons/thumbs_up.png); }
.bidacceptedicon { width: 20px; height: 20px; background: url(../img/icons/thumbs_up.png); }
.commenticon { width: 20px; height: 20px; background: url(../img/icons/comment_20x20.png); }
.bidicon { width: 20px; height: 20px; background: url(../img/icons/bid_20x20.png); }
.bidpostedicon { width: 20px; height: 20px; background: url(../img/icons/bid_20x20.png); }
.bidactiveicon { width: 20px; height: 20px; background: url(../img/icons/bid_20x20.png); }
.bidmakebidicon { width: 20px; height: 20px; background: url(../img/icons/bid_20x20.png); }
.bidreviseicon { width: 20px; height: 20px; background: url(../img/icons/bid_20x20.png); }
.thumbdownicon { width: 20px; height: 20px; background: url(../img/icons/thumbs_down.png); }
.bidcancelicon { width: 20px; height: 20px; background: url(../img/icons/cancel_20x20.gif); }
.bidrejecticon { width: 20px; height: 20px; background: url(../img/icons/thumbs_down.png); }
.bidrejectedicon { width: 20px; height: 20px; background: url(../img/icons/thumbs_down.png); }
.withdrawicon { width: 20px; height: 20px; background: url(../img/icons/withdraw_20x20.png); }
.bidwithdrawicon { width: 20px; height: 20px; background: url(../img/icons/withdraw_20x20.png); }
.bidwithdrawnicon { width: 20px; height: 20px; background: url(../img/icons/withdraw_20x20.png); }
.countericon { width: 20px; height: 20px; background: url(../img/icons/counter.png); }
.bidcountericon { width: 20px; height: 20px; background: url(../img/icons/counter.png); }
.bidcounteredicon { width: 20px; height: 20px; background: url(../img/icons/counter.png); }
.notificationicon { width: 20px; height: 20px; background: url(../img/icons/email_20x20.png); background-position: 0px 2px; }
.checkboxgreenicon { width: 32px; height: 32px; background: url(../img/icons/checkbox_green_32x32.png); background-position: 0px 0px; }
.checkboxredicon { width: 32px; height: 32px; background: url(../img/icons/checkbox_red_32x32.png); background-position: 0px 0px; }
.documenticon { width: 16px; height: 16px; background: url(../img/icons/document.png); }
.presentationicon { width: 16px; height: 16px; background: url(../img/icons/presentation.png); }
.spreadsheeticon { width: 16px; height: 16px; background: url(../img/icons/spreadsheet.png); }
.linkicon { width: 16px; height: 16px; background: url(../img/icons/jump.png); }
.mapicon { width: 16px; height: 16px; background: url(../img/icons/map.png); }
.bidactionicon { float: left; margin-left: 10px; margin-top: 5px; margin-right: 15px; }
.bidactioniconnarrow { float: left; margin-left: 10px; margin-top: 5px; margin-right: 10px; }
.bidactionbtn { text-align: left !important; }
.normalicon { float: left; margin-right: 5px; }

/* searchbar styles */
.searchbar { height: 24px; margin-top: 4px; font-size: 14px !important; font-weight: bold; }
.searchtext { padding-top: 10px; height: 18px; }
#searchbox { width: 580px; }
.searchbutton { height: 20px; padding-top: 8px; }

/* form styles */
.formitem { }
.inputlabel, .widelabel, .formlabel, .smallformlabel, .inputcaptcha, .inputhelp,
.inputicon, .topinputicon, .inputlink, .inputimgbutton,
.formlabelvalue, .formfull, .formcol1, .formcol2, .formcol1fourth, .formcol2fourth,
.formimg, .formcolicon, .medialabel
    { float: left; }
.inputlabel, .widelabel, .formlabel, .smallformlabel, .inputcaptcha, .inputlink, .inputimgbutton, .formcol1, .formcol1fourth, .formimg, .medialabel
    { margin-right: 10px; }
.inputfield { float: left; margin-right: 10px; }
.inputmap { float: left; margin-right: 10px; width: 431px; height: 315px; }
.qalabel { margin-left: 5px; color: #49515a; font-weight: bold; }
.inputlabel, .formlabel, .smallformlabel { text-align: right; width: 106px; color: #49515a; }
.bidformlabel { float: left; margin-right: 10px; width: 146px; color: #49515a; }
.widelabel { width: 296px; }
.medialabel { width: 316px; margin-left: 5px; }
.inputlabel { padding-top: 10px; font-weight: bold; }
.widelabel { padding-top: 15px; margin-left: 5px; }
.inputcaptcha { margin-top: 10px; margin-bottom: 10px; }
.inputtext, .narrowinputtitle, .bidinputtitle, .narrowinputtext, .inputtextpct, .inputwidetext, .inputfullwidetextshort,
.sideinputtext, .sideinputtitle, .sideinputtextarea,
.inputselect, .inputmedselect, .inputwidewithvalidate
    { font-weight: bold; color: white !important; background: #49515a !important; }
.inputtext, .inputtextpct, .inputwidetext, .inputfullwidetextshort, .sideinputtext, .sideinputtextarea,
.inputselect, .inputmedselect, .narrowinputtext, .inputwidewithvalidate
    { font-size: 14px !important; }
.inputcheckbox { font-weight: bold; color: white !important; background: #49515a !important; font-size: 14px !important; margin-top: 14px; height: 33px; }
.inputwidetext { width: 420px !important; }
.categoryselect { padding: 5px; width: 432px !important; }
.inputmedtext { font-weight: bold; color: white !important; background: #49515a !important; font-size: 14px !important; width: 230px !important; }
.medtext { font-weight: bold; font-size: 14px; width; 230px; height: 21px; padding-top: 10px; margin-right: 10px; }
.inputmedselect { width: 242px !important; }
.messagetextarea { color: white !important; background: #49515a !important; font-weight: normal; height: 60px; width: 540px !important; }
.inputfullwidetextshort, .inputwidewithvalidate { margin: 0px 5px 5px 5px; height: 60px; }
.inputfullwidetextshort { width: 600px !important; }
.inputwidewithvalidate { width: 540px !important; }
/* .inputselect { margin-top: 0px; height: 29px; }  */
.inputhelp { padding-top: 10px; height: 33px; }
.inputmsg { font-weight: bold; }
.bidmsg { height: 20px; font-weight: bold; }
.formlabelvalue { width: 180px; }
.inputicon { padding-top: 6px; }
.inputlink { padding-top: 10px; height: 33px; }
.inputimgbutton { margin-top: 5px; }
.inputbutton, .smallinputbutton { text-align: center; margin-top: 5px; font-weight: bold; } 
.doclinkmsg { text-align: center; margin-top: 5px; font-weight: bold; font-size: 14px; height: 26px; padding-top: 2px; margin-bottom: 5px; font-weight: bold; } 
.inputbutton { font-size: 18px; height: 33px; padding-top: 4px; margin-bottom: 10px; } 
.smallinputbutton { font-size: 14px; height: 26px; padding-top: 2px; margin-bottom: 5px; } 
.formtitle { font-size: 24px; padding-left: 5px; }
.formtitlefourth { font-size: 24px; padding-left: 0; }
.companytitle { margin-right: 10px; }
.formcol1 { width: 301px; padding-left: 5px; }
.formcol2 { width: 306px; }
.formcol1fourth { float: left; width: 146px; padding-left: 0px; }
.formcol2fourth { float: left; }
.mediacol1 { width: 146px; float: left; margin-right: 10px; }
.mediacol2 { width: 450px; padding-left: 0px; float: left; }
.formcol1text { margin-left: 10px; }
.formimg { width: 146px; height: 146px; }
.formcolicon { width: 40px; }
.formbottom { bottom: 0; position: absolute; }
.companystats { right: 0; }
.formstatistic { font-size: 18px; text-align: center; }
.formstatistictxt { font-size: 18px; text-align: left; }
.formstatisticicon { padding-top: 3px; }
.smallinputicon { margin-top: 10px; }
.smallformlabel { margin-top: 10px; }
.inputtextpct { width: 35px !important; }
.sideinputtitle { font-size: 24px !important; margin: 5px !important; }
.inputtextpct, .narrowinputtext { margin: 0 0 5px 0 !important; }
.sideinputtitle, .sideinputtextarea { width: 280px !important; }
.narrowinputtext { width: 90px !important; }
.narrowinputtitle { font-size: 24px !important; margin: 0 10px 5px 5px !important; width: 130px !important; }
.bidinputtitle { font-size: 22px !important; margin: 0 10px 5px 5px !important; width: 130px !important; }
.sideinputtextarea { height: 80px; margin-top: 0; }
.sideboxlabelsmall { float: left; padding-top: 5px; width: 35px; }
.makebidboxlabel { float: left; padding-top: 11px; width: 35px; }
.inputselect, .inputmedselect { height: 29px; padding: 5px; top: 1px; position: relative;  }
.bidinputselect { margin: 0 0 0 0 !important; height: 38px !important; font-weight: bold; color: white !important; background: #49515a !important; font-size: 22px !important; padding-top: 5px !important;}
.bidinputtextpct  { font-weight: bold; color: white !important; background: #49515a !important; font-size: 22px !important; width: 45px !important; margin: 0 0 0 0 !important; }
.mediainputlink  { margin-left: 3px !important; font-weight: bold; color: white !important; background: #49515a !important; font-size: 14px !important; width: 383px !important; }
.pctwide { width: 49px !important; }
.inputtextareatwoline { height: 35px; overflow: hidden; overflow-x: hidden; overflow-y: auto; }
.inputgooglesignin { float: left; margin-right: 10px; }
.aboutlabel { float: left; margin-right: 10px; text-align: right; width: 106px; color: #49515a; font-weight: bold; }
.doclabel { float: left; margin-right: 10px; text-align: right; width: 106px; color: #49515a; font-weight: bold; margin-top: 10px; }
.bidformtext { padding-top: 10px; font-weight: bold; }
.bidvallabel { float: left; margin-right: 10px; width: 120px; padding-top: 3px; margin-left: 10px; font-weight: bold; }
.bidformitem { float: left; }
.bidspacer { border: 2px solid #49515A; height: 20px; right: 5px; background: #efefef; font-weight: bold; clear: both; text-align: center; }
.messagetextarea { color: white !important; background: #49515a !important; font-weight: normal; height: 60px; width: 580px !important; }
.qatextarea { height: 65px; overflow: hidden; overflow-x: hidden; overflow-y: auto; font-weight: bold; color: white !important;
                background: #49515a !important; font-size: 14px !important; margin: 0px 5px 5px 5px; width: 540px !important; }

/* box styles */
.boxtitle { margin-top: 10px; color: #333333; font-weight: bold; }
.boxpanel, .boxstep { border: 2px solid #999999; padding: 2px; overflow: auto; background: #e3e3e3; margin-bottom: 10px; }
/* .boxpanel { width: 622px; overflow: auto; position: relative; } */
.boxpanel { width: 622px; overflow: hidden; position: relative; }
/*.companylistingbox { height: 180px; overflow: visible; } */
.addcommentmsg { height: 20px; margin-left: 5px; font-weight: bold; }
.addmessagemsg { height: 20px; margin-left: 5px; font-weight: bold; }
.newlistingmsg { float: left; margin-right; 10px; padding-left: 116px; width: 420px; height: 85px; font-weight: bold; overflow: auto; }
.newlistingmsgsmall { float: left; margin-right; 10px; padding-left: 116px; width: 420px; height: 25px; font-weight: bold; }
.companylistingstats { position: absolute; bottom: 0; }
.boxpanel p { margin: 5px 10px 10px 10px; text-indent: 0px; font-weight: bold; }
.boxpanel dl dt { margin-left: 0; padding: 5px 10px 5px 10px; color: #333333; }
.boxpanel dl dd { margin-left: 0; padding: 5px 10px 5px 10px; background: #f2f2f2; font-weight: normal; }
.boxstep { width: 626px; padding: 0px; height: 30px; position: relative; }
.boxsteptitle, .boxsteptext { padding-top: 5px; font-weight: bold; color: #333333; left: 0; text-align: center; position: absolute; }
.boxsteptitle { padding-left: 5px; width: 617px; }
.boxsteptext { width: 123px; } 
.boxstepn { left: 0; position: absolute; height: 30px; width: 0px; background-color: #999999; }
.boxstep1, .boxstep2, .boxstep3, .boxstep4, .boxstep5 { left: 0; position: absolute; height: 30px; width: 125px }
.boxstep1 { left: 0; }
.boxstep2 { left: 125px; }
.boxstep3 { left: 250px; }
.boxstep4 { left: 375px; }
.boxstep5 { left: 500px; width: 126px; }
.boxstepcomplete { background-color: #999999; }
.commentpanel dl dt { font-size: 12px; height: 32px; padding: 0 0 0 10px; }
.commentdttitle { position: relative; height: 32px; }
.commentdttitleline { padding-top: 7px; }
.commentdelete { width: 32px; height: 32px; margin: 0; position: absolute; top: 0; right: 0; }
.commentdelete:hover { opacity: 0.7; cursor: pointer; }
.boxoption { display: block; float: left; text-align: center; height: 25px; padding-top: 5px; margin-bottom: 5px; font-weight: bold; }
.boxoption1 { width: 146px; }
.boxoption2 { width: 160px; }
.boxoption3 { width: 160px; }
.boxselected { background: white; }
.sideboxselected { background: white; !important}
.sidebox { width: 302px; border: 2px solid #999999; padding: 2px; overflow: auto; background: #e3e3e3; margin-bottom: 10px; overflow: hidden; }
.sidebox p { margin: 5px 10px 10px 10px; text-indent: 0px; font-weight: normal; font-weight: bold; }
.socialsidebox { height: 130px; overflow: visible; }
.sideboxcol1 { width: 146px; float: left; margin-right: 10px; }
.sideboxcol2 { width: 146px; float: left; }
.sideboxlist { list-style: none; list-style-position: inside; margin-left: 0; padding-left: 0; }
.sideboxbutton, .sideboxbuttoninterior { height: 50px; font-size: 34px; font-weight: bold; text-align: center; }
.sideboxbutton { width: 310px; }
.sideboxbuttoninterior { width: 292px; margin: 0 5px 5px 5px; }
.sideboxcompanylink { width: 298px; float: left; margin-left: 2px; }
.sideboxcompanylink:hover { background: #f2f2f2; }
.sideboxtitle { float: left; font-size: 24px; text-align: right; margin-left: 10px; margin-right: 10px; height: 43px; font-weight: bold; }
.sideboxtitledetail { float: left; padding-top: 11px; font-weight: bold; }
.sideboxtitlecompact { font-size: 24px; margin-left: 5px; margin-right: 10px; font-weight: bold; }
.sideboxdesc { margin-left: 5px; font-weight: bold; }
.sideboxnotify { float: left; width: 302px; }
.sideboxicon { width: 26px; margin-right: 10px; float: left; }
.sideboxnotifytext { float: left; width: 266px; font-weight: normal; }
.sideboxdate { font-size: 10px; }
.sideboxmap { width: 302px; height: 302px; }
.bidpanel { padding-top: 5px; }
.addcommenttitle { display: none; }
.addcommentbox { display: none; }
.addmessagetitle { display: none; }
.addmessagebox { display: none; }
.listingbox { display: none; }
.documentbox { display: none; }
.withdrawtitle { display: none; }
.withdrawbox { display: none; }
.bidboxtitle { display: none; }
.bidbox { display: none; }
.bidboxstatus { display: none; }
.bidboxinfo { display: none; }
.suggestedmsg { display: none; font-weight: bold; }
.suggestedinfo { display: none; }
.makebidboxtitle { display: none; }
.makebidbox { display: none; }
.makebid_rate_box { display: none; }
.counterboxtitle { display: none; }
.counterbox { display: none; }
.bidclosedtitle { display: none; }
.bidclosedbox { display: none; }
.bidsummary { font-size: 10px; }
.newwithdrawmsg { display: none; font-weight: bold; }
.newwithdrawcancelbtn { display: none; margin-top: 10px; }

/* upload */
.uploadiframe { width: 0; height: 0; border: 0 solid #fff; }
.uploadinputicon { float: left; padding-top: 6px; height: 32px; width: 32px; }
.uploadinfo { font-weight: bold; margin-left: 4px; }
.uploadurlbutton { margin-left: 4px; }
.uploadinputbutton { font-weight: bold; color: white !important; background: #49515a !important; font-size: 14px !important; height: 33px !important; margin-left: 4px !important; }

/* tiles */
.tile { width: 146px; height: 296px; border: 2px solid #999999; border-radius: 5px; overflow: hidden; margin-bottom: 10px; position: relative; background: #e3e3e3; }
.tileimg { width: 146px; height: 146px; overflow: hidden; }
.tiledays, .tiledaystext, .tiletype, .tiletypetext, .tilepoints, .tilepointstext { width: 146px; height: 30px; position: absolute; }
.tiledays, .tiletype, .tilepoints { opacity: 0.6; background-color: #000000; }
.tiledaystext, .tiletypetext, .tilepointstext { padding: 4px; color: white; font-weight: bold; }
.tiledays, .tiledaystext { top: 0px; }
.tiletype, .tiletypetext { top: 116px; }
.tilepoints, .tilepointstext { top: 266px; }
.tiledesc { width: 142px; height: 116px; position: absolute; top: 146px; padding: 0 2px 2px 2px; margin:0; overflow: hidden; font-weight: bold; }
.tilecompany { font-size: 14px; line-height: 19px; color: #333333; font-weight: bold; }
.tileloc { color: #333333; font-weight: bold; }
.tileloc, .tiledetails, .tileposted, .tiledesc { font-size: 12px; line-height: 16px; }
/* .tiledetails, .tileposted { font-weight: normal; } */
.tilevotes, .tilevoteimg, .tileposted { position: absolute; }
.tilevotes { left: 30px; }
.tileposted { top: 6px; right: 12px; text-align: right; font-weight: bold; }

/* img */
.companylogo { border-radius: 3px; height: 146px; width: 146px; }
.noimage { background: url(../img/noimage_146x146.jpg); border-radius: 3px; }
.einstein { background: url(../img/einstein.jpg); border-radius: 3px; }
.wave { background: url(../img/wave.jpg); border-radius: 3px; height: 146px; width: 146px; }
.upgrades { background: url(../img/upgrades.jpg); border-radius: 3px; }
.telecom { background: url(../img/telecom.jpg); border-radius: 3px; }
.socialrec { background: url(../img/socialrec.jpg); border-radius: 3px; }
.gkleen { background: url(../img/gkleen.jpg); border-radius: 3px; }
.missingimg { background: url(http://www.minimus.biz/img/Your%20Logo%20Here%20Black%202.jpg) -65px -55px; border-radius: 3px; height: 146px; width: 146px; }
.presentationimg { background: url(../img/icons/presentation.png) no-repeat 1px 1px; border-radius: 3px; }
.business_planimg { background: url(../img/icons/business_plan.png) no-repeat 0px 0px; border-radius: 3px; }
.financialsimg { background: url(../img/icons/financials.png) no-repeat 0px 0px; border-radius: 3px; }
.videoinputicon { float: left; padding-top: 7px; height: 32px; width: 32px; margin-right: 10px; }
.videourl { padding-top: 8px !important; }

input[disabled] { color: #999 !important; }
textarea[disabled] { color: #999 !important; }

.initialhidden { display: none; }

/* hover effect */
/*
.tileimg:hover, .tiledesc:hover, .tilevoteimg:hover,
.boxoption:hover, .sideboxlist>li:hover, .sideboxbutton:hover, .sideboxbuttoninterior:hover,
.sideboxcompanylink:hover, .sideboxlink:hover,
.followimg:hover,
.headerlink:hover, .logotext:hover, .headerprofilelink:hover,
.footerlink:hover,
.searchbutton:hover,
.formlink:hover, .inputlink:hover, .inputimgbutton:hover, .inputbutton:hover, .smallinputbutton:hover
{ opacity: 0.7; cursor: pointer; }
*/

/* debug styles */
/* .container { background: url(../img/blueprint.jpg); background-position: -160px 0px; } */
